body {
  font-family: "Arial", sans-serif;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.index-title {
  text-align: center;
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
  font-family: "Arial", serif;
}

.index-messages {
  text-align: center;
}

.index-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
  font-family: "Arial", serif;
}
